
.rizeen-bravery-updates-link-black a {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    align-items: center;
    color: white;
    text-decoration: none;
}

.rizeen-bravery-updates-link-black a .fa-instagram {
    margin: 1rem 2rem;
}

.rizeen-bravery-updates-link-black a .fa-instagram:before {
    color: #bd0202;
}

#jeep-hero-section img.floating-text-jeep-hero {
	position: absolute;
    top: 48%;
    z-index: 100;
    width: 40%;
    left: 20px;
}

#bravery-tour-section-map .jeep_location_list {
    display: flex;
    align-items: baseline;
    position: static;
    transform: none;
}

@media only screen and (max-width: 992px) {
	#jeep-hero-section img.floating-text-jeep-hero {
		top: 10%;
	}
    #how-it-works-section .stfw-col-right * {
        text-align: center !important;
    }    
}
  