<!--Seg:Google-->
<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
var google_tag_params = {
ecomm_prodid: @&STYLES ,
ecomm_pagetype: "@&TYPE ",
ecomm_totalvalue: "@&TOTAL "
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1066800001;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1066800001/?value=0&amp;guid=ON&amp;script=0">
</div>
</noscript>
<!--End:Google-->

