<!--Seg:BODY-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>New Account Request</title>
</head>

<body  bgcolor="#ffffff">
<TABLE>
<TR><TD><br/><br/></TD></TR>
<tr>
 <td>
  <table BORDER = "0">
	  <tr><td colspan="2" style="background-color:#dddddd;" style="color: #000000; font-weight: bold">New Customer Service Request</td></tr>
	  <TR><TD colspan=2><br/><br/></TD></TR>
	  
	  <tr>
		<td nowrap style="color: #000000; font-weight: bold" >Name:</td>
		<td nowrap style="color: #000000;width:500px" >@&NAME </td>
	  </TR>
	  <tr>
		<td nowrap style="color: #000000; font-weight: bold">Fax No:</td>
		<td nowrap style="color: #000000" >@&FAX </td>
	  </TR>
	  <tr>
		<td nowrap style="color: #000000; font-weight: bold" >Email:</td>
		<td nowrap style="color: #000000" >@&EMAL </td>
	  </TR>
	  
	  <tr>
		<td nowrap style="color: #000000; font-weight: bold" >Product Description:</td>
		<td nowrap style="color: #000000" >@&PDSC </td>
	  </TR>
	  <tr>
		<td nowrap style="color: #000000; font-weight: bold" >Item #:</td>
		<td nowrap style="color: #000000" >@&ITEM </td>
	  </TR>
	   <tr>
		<td nowrap style="color: #000000; font-weight: bold" >Question Description:</td>
		<td  style="color: #000000" >@&LDSC </td>
	  </TR>
	  	  
	  <TR><TD colspan=2><br/><br/></TD></TR>
	  <tr>
		<td style="color: #000000;" width="100%" colspan=2></td>
	  </TR>
  </TABLE>

 </TD>
</TR>
<TR><TD>
</TABLE>
</TD></TR>
<TR><TD><hr /></TD></TR>
<tr><td> <img src="@&IMAGEI footerpower.gif" width="174" height="71"/> </td> </tr>
</TABLE>
</body>
</html>
<!--End:BODY-->