<!--Seg:Open-->
<script>
function geoFmt(city,sta,cnty,geo,zip){
  document.f.SICITY.value = city;
  document.f.SISTA.value  = sta;
  document.f.SIZIP.value  = zip;
  document.f.SICNTY.value  = cnty;
  document.f.SICTID.value  = 'US';
}
</script>

<style>
  .order-request {
    padding: 30px 0;
  }
  .order-request .container {
    background-color: #fff;
  }
  .order-request .address_box {
    padding: 10px;
    background-color: #fff;
  }
  main.order-request .container .left {
    border-right: 1px solid #dcdcdc;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  main.order-request .container .right {
    padding-left: 3%;
  }
  main.order-request .container p {
    color: #464646;
  }
  main.order-request .container input[type="radio"] {
    vertical-align: top;
  }
  main.order-request .request_table td {
    border: none;
  }
  main.order-request .request_table th {
    border-right:2px solid white;
    background-color: #03538C;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: none;
    text-align:center;
  }
    @media only screen and (max-width: 990px){
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
      display: block; 
    }
    #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
    }
    #no-more-tables tr { border: 1px solid #ccc; }
    
    #no-more-tables td { 
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
      white-space: normal;
      text-align:left;
    }

    #no-more-tables td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
      text-align:left;
      font-weight: bold;
    }
    #no-more-tables td:before { content: attr(data-title); }
  }
  
  #radioOptions {
    text-align:left;
  }

</style>

<form name="f" method="POST" action="@&PGM " id="mainForm" novalidate>
  <input type="hidden" name="SIACTN" value="">
  <input type="hidden" name="SIRFNO" value="">
  <input type="hidden" name="SIVIEW" value="@&SIVIEW " id="SIVIEW">
  <input type="hidden" name="SIMODE" value="@&SIMODE ">

  <main class="order-request"> 
    <div class="container">
<!--End:Open-->

<!--Seg:openCatalog-->
      <div class="row-eq-height">
        <div class="col-xs-12" style="text-align:center;">
          <h4 id="requestTitle">United States Request Form</h4>
          <p>Need to change where requesting for merchandise?<br>Please choose one of the options below:</p>
        </div>
      </div>
      <div class="row-eq-height" id="radioOptions">
        <div class="col-md-5 col-sm-4 col-xs-3">&nbsp;</div>
        <div class="col-sm-7">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-7">
                <div class="form-group">
                  <label for="USCA" class="form__radio">
                    <input class="shipping__radio" type="radio" id="USCA" value="USCA" name="SIRDIO" onchange="chkButton();" @&CHK1 >
                    <span class="fake-radio"></span>
                    <span>United States</span>
                  </label>
                </div>
                <div class="form-group">
                  <label for="MILT" class="form__radio">
                    <input class="shipping__radio" type="radio" id="MILT" value="MILT" name="SIRDIO" onchange="chkButton();" @&CHK2 >
                    <span class="fake-radio"></span>
                    <span>US Military APO/FPO</span>
                  </label>
                </div>                
                <div class="form-group">
                  <label for="WWWW" class="form__radio">
                    <input class="shipping__radio" type="radio" id="WWWW" value="WWWW" name="SIRDIO" onchange="chkButton();" @&CHK3 >
                    <span class="fake-radio"></span>
                    <span>Outside United States</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>                
      </div>
    </div>
<!--End:openCatalog-->

<!--Seg:Address-->
    <div class="container request_box">
      <div class="row">
        <div class="col-md-6 left">
          <div class="form-group">
            <label for="agency">Agency/Department*</label><input type="text" name="SIAGCY" id="SIAGCY" value="@&SIAGCY " class="form__input full no-outline" required="required" maxlength="50">
          </div>
          <div class="form-group">
            <label for="contact">Contact Person*</label><input type="text" name="SINAME" id="SINAME" value="@&SINAME " class="form__input full no-outline" required="required" maxlength="100">
          </div>
          <div class="form-group">
            <label for="phone">Phone No.*</label><input type="tel" name="SITEL" id="SITEL" value="@&SITEL " class="form__input full no-outline" required="required" maxlength="20" placeholder="(xxx) xxx-xxxx">
          </div>
          <div class="form-group">
            <label for="fax">Fax No.</label><input type="tel" name="SIFAX"  id="SIFAX" value="@&SIFAX " class="form__input full no-outline" maxlength="20">
          </div>
          <div class="form-group">
            <label for="email">Email*</label><input type="email" name="SIEMAL" id="SIEMAL" value="@&SIEMAL " class="form__input full no-outline" maxlength="50" required="required">
          </div>                    
        </div>
        <div class="col-md-6 right">
          <div class="form-group">
            <label for="Address">Address*</label><input type="text" name="SIADR1" id="SIADR1" value="@&SIADR1 " class="form__input full no-outline" required="required" maxlength="60">
          </div>
          <div class="form-group">
            <label for="Address 2">Address 2</label><input type="text" name="SIADR2"  id="SIADR2" value="@&SIADR2 " class="form__input full no-outline" maxlength="60">
          </div>
          <div class="form-group">
            <label for="Address 3">Address 3</label><input type="text" name="SIADR3" id="SIADR3"  value="@&SIADR3 " class="form__input full no-outline" maxlength="60">
          </div>
          <div class="form-group">
            <label for="Zip">Zip/Postal Code*</label><input type="tel" name="SIZIP" id="SIZIP" value="@&SIZIP " class="form__input full no-outline" maxlength="10" required="required">
          </div>
          <div class="form-group">
            <label for="City" id="changeDisp">City*</label><input type="text" name="SICITY" id="SICITY" value="@&SICITY " class="form__input full no-outline" maxlength="24" required="required">
          </div>
          <div id="UScanada">
            <div class="form-group">
              <label for="State">State*</label>&nbsp;&nbsp;<div>@&SISTA &nbsp;</div>
            </div>
            <div class="form-group">
              <label for="County">County</label><input type="text" name="SICNTY" id="SICNTY" value="@&SICNTY " class="form__input full no-outline">
            </div>
          </div>
          <div class="form-group">
            <label for="Country">Country*</label>&nbsp;&nbsp;<div>@&SICTID &nbsp;</div>
          </div>                                                       
        </div>
      </div>
    </div>
<!--End:Address-->
  
<!--Seg:openRequestForm-->  
    <div class="container request_table">
      <div class="row">
        <div class="col-xs-12">
          <section id="no-more-tables">
            <table class="table">
              <thead>
                <tr>
                  <th>Item #</th>
                  <th>Description</th>
                  <!-- <th>Size</th> -->
                  <th>Qty</th>
                </tr>
              </thead>
              <tbody>      
<!--End:openRequestForm-->

<!--Seg:tableRow-->
                <tr>
                  <td data-title="Item #"><input type="text" name="SKU@&LINE " id="SKU@&LINE " value="@&SKU " size="20" class="form__input full no-outline"></td>
                  <td data-title="Description"><input type="text" name="DESC@&LINE " id="DESC@&LINE " value="@&DESC " size="100" class="form__input full no-outline"></td>
                  <!-- <td data-title="Size"><input type="text" name="SIZE@&LINE " id="SIZE@&LINE " value="@&SIZE " size="10" class="form__input full no-outline"></td> -->
                  <td data-title="Qty"><input type="text" name="QTY@&LINE " id="QTY@&LINE " value="@&QTY " size="10" class="form__input full no-outline"></td>
                </tr>
<!--End:tableRow-->

<!--Seg:closePage-->
              </tbody>
            </table>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-md-offset-4" style="padding-bottom:15px;">
          <a  class="btn btn_submit btn_sm btn-block btn--blue" href="javascript:checkInputs();">Submit</a>
        </div>
      </div>
    </div>
  </main>
</form>

<script>
function chkButton(){
  var location = $("input[name=SIRDIO]:checked").val();
  var chngDisp = document.getElementById("changeDisp");
  var city = document.getElementById('UScanada');
  var state = document.getElementById('SISTA');
  var title = document.getElementById('requestTitle');

  if (location === 'USCA' || location === 'MILT'){
    chngDisp.innerText = 'City';
    city.style.display = 'block';
    //state.setAttribute('required','');
    if (location === 'USCA'){
      title.innerText = 'United States Quote Request Form';
    } else {
      title.innerText = 'Military/Federal Quote Request Form';
    }
  } else {
    chngDisp.innerText = 'City/Province/Territory';
    city.style.display = 'none';
    // state.removeAttribute('required');
    // state.value = "";
    title.innerText = 'International Quote Request Form';
  }
}

function checkInputs(){
  showWait();
  var testForm = document.getElementById('mainForm');
  var catType = $("input[name=SIRDIO]:checked").val();
  var view = document.getElementById("SIVIEW");

  // document.getElementById("SKU1").setAttribute('required','');
  // document.getElementById("DESC1").setAttribute('required','');
  // document.getElementById("SIZE1").setAttribute('required','');
  // document.getElementById("QTY1").setAttribute('required','');

//  if (testForm.checkValidity() === false){
//    return false;
//  } else {
    view.value = catType;
    
    submit_form('f','SUBMIT');
//  }
}

document.addEventListener('DOMContentLoaded', function() {
  chkButton();
}, false);
</script>
<!--End:closePage-->
  
 <!--Seg:Submitted-->
      <div class="row">
        <div class="col-xs-12" style="text-align:center; padding-bottom:5%;">
          <h3>Thank you for the Quote request!</h3>
          <p>Interested in receiving timely news, promotions and other valuable information in your inbox? Sign up by clicking the link above next to the search box or provide us with your email address in the blue box below.</p>
        </div>
      </div>
    </div>
  </main>
</form>
<!--End:Submitted-->
