.header .navbar,
.header .header-top,
.header .header-nav,
#mobileHeader {
    display: none !important;
}



/* General */
.sam-temp-fw {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	padding: 0;
	background-color: #ffffff;
	letter-spacing: 1px !important;
}
.sam-temp-fw-black {
	background-color: #000000;
}
/* END */


/* ALL */
#the-jeep-section,
#how-it-works-section,
#what-included-section,
#bravery-tour-section,
#jeep-about-us-section,
#jeep-faq-section {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 50px;
}
.stfw-col-left,
.stfw-col-right {
	min-height: 500px;
}
h2.jeep-section-title {
	text-align: center;
}
h2.jeep-section-title {
	font-size: 44px !important;
	text-align: center;
	margin-bottom: 40px;
}
h2.jeep-section-title span {
    background-image: linear-gradient(to right, #ebebeb 0%, #bd0202 30%, #bd0202 70%, #ebebeb 100%);
	padding: 0px 120px 4px 120px;
	font-weight: bold;
	color: #fff;
}
/* Headings */
@media (max-width: 1500px) {
	h2.jeep-section-title {font-size: 28px !important;}
}
@media (max-width: 1200px) {
	h2.jeep-section-title {font-size: 24px !important;}
}
@media (max-width: 1000px) {
	h2.jeep-section-title {font-size: 24px !important;}
}
@media (max-width: 767px) {
	h2.jeep-section-title {font-size: 34px !important;}
}
@media (max-width: 670px) {
	h2.jeep-section-title {font-size: 28px !important;}
}
@media (max-width: 500px) {
	h2.jeep-section-title {font-size: 24px !important;}
}
@media (max-width: 428px) {
	h2.jeep-section-title {font-size: 22px !important;}
}
@media (max-width: 390px) {
	h2.jeep-section-title {font-size: 18px !important;}
}
/* END */




/* HEADER SECTION */
#sam-temp-header-section {
	margin-top: -40px;
	padding: 15px 0;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
#sam-temp-header-section .container {
	position: relative;
}
#sam-temp-header-section img {
	width: 150px;
	height: auto;
}
#sam-temp-header-section .sam-temp-header-nav {
	text-align: right;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
#sam-temp-header-section h4 {
	display: inline;
	padding: 0 20px;
}
#sam-temp-header-section h4 a {
	color: #ffffff;
}
#sam-temp-header-section h4.enter-now a {
    background-image: linear-gradient(to right, #000 0%, #bd0202 30%, #bd0202 70%, #000 100%);
	padding: 6px 80px 8px 80px;
	font-weight: bold;
}
#sam-temp-header-section h4.enter-now a:hover {
    color: yellow;
}


/* HERO SECTION */
#jeep-hero-section .container-fluid {
	padding: 0;
}
#jeep-hero-section .container-fluid img {
	width: 100%;
	height: auto;
}

/* THE FORM */
#enter-to-win-form-section {
	background-color: #ebebeb;
	text-align: center;
}
/* #enter-to-win-form-section iframe {
	width: 100%;
	height: 1600px;	
} */


/* THE JEEP */
#the-jeep-section h2.jeep-section-title span {
    background-image: linear-gradient(to right, #fff 0%, #bd0202 30%, #bd0202 70%, #fff 100%);
}
#the-jeep-section .stfw-col-right {
	min-height: 600px;
}
#the-jeep-section img {
	width: 100%;
	height: auto;
}
#the-jeep-section .the-jeep-col img {
	height: 600px;
	width: auto;
}

	/* Slider Changes */
	.slider {padding: 10px 0 20px 0;}
	.slick-slide {margin-right: 10px;}
	.slick-dots {/* position: absolute; bottom: -3.5rem; */ display: block; padding: 0; margin: 0; list-style: none; line-height: 0;}
	.slick-dots li {position: relative; display: inline-block; width: 0.9375rem; height: 0.9375rem; margin: 0 0.875rem; padding: 0; cursor: pointer;}
	.slick-dots li:first-child {margin-left: 0;}
	.slick-dots li:last-child {margin-right: 0;}
	.slick-dots li button {font-size: 0; line-height: 0; display: block; width: 0.9375rem; height: 0.9375rem; padding: 0.3125rem; cursor: pointer; color: transparent; outline: none; border:none; background: rgba(47, 31, 22, 0.5); border-radius: 50%;}
	.slick-dots li button:hover,
	.slick-dots li button:focus,
	.slick-dots li.slick-active button {outline: none; background-color: #2d1d15; transition: all 300ms ease 0s; color: #2d1d15;}
	.slick-next:before, .slick-prev:before {color: #000 !important;}

	/* */
	.slick-prev:before,
	.slick-next:before
	{
		font-family: 'slick';
		font-size: 20px;
		line-height: 1;

		opacity: .75;
		color: white;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@media (min-width: 992px) {
		.slick-prev:before
		{
			content: '\f053';
			font: 28px 'FontAwesome';
		}
		[dir='rtl'] .slick-prev:before
		{
			content: '\f054';
			font: 28px 'FontAwesome';
		}
		.slick-next:before
		{
			content: '\f054';
			font: 28px 'FontAwesome';
		}
		[dir='rtl'] .slick-next:before
		{
			content: '\f053';
			font: 28px 'FontAwesome';
		}
	}
	@media (max-width: 991px) {
		.slick-prev:before
		{
			content: '\f053';
			font: 25px 'FontAwesome';
		}
		[dir='rtl'] .slick-prev:before
		{
			content: '\f054';
			font: 25px 'FontAwesome';
		}
		.slick-next:before
		{
			content: '\f054';
			font: 25px 'FontAwesome';
		}
		[dir='rtl'] .slick-next:before
		{
			content: '\f053';
			font: 25px 'FontAwesome';
		}
	}
	.slick-arrow {
		width: 100%;
		text-align: right;
		padding-right: 20px;
	}
	.slick-prev,
	.slick-next{
		top: -30px;
	}
	.slick-next {
		right: -10px;
	}
	.right-text h2 {
		text-align: right !important;
		padding-right: 5px;
	}
	.right-text .slick-arrow {
		text-align: left;
		padding-left: 25px;
	}

#the-jeep-section .image--slider--row h2 {
	text-align: left;
}
.stfw-div-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.stfw-div-middle ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 -50px;
}
.stfw-div-middle ul li {
	padding-bottom: 10px;
	font-size: 20px !important;
}
.stfw-div-middle ul .jeep_bullet {
	font-weight: 600;
	color: #005178;
	width: 120px;
	display: inline-block;
	text-align: right;
}
.stfw-div-middle ul .jeep_desc {
	display: inline-block;
	padding-left: 20px;
}

#SamReturnToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background: #bd0202;
    opacity: 1;
    padding: 15px 30px 17px 30px;;
    border-radius: 30px;
    border:0;
    box-shadow: -2px 4px 12px -1px rgba(0,0,0,.50);
    z-index: 9998; 	/* Smaller than Zoom In PDP (9999) */
}
#SamReturnToTop a {
    color: #ffffff;
    font-weight: bolder;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	font-size: 26px;
    text-shadow: 2px 2px #000;
}
#SamReturnToTop a:hover {
    color: yellow;
}


/* How It Works */
#how-it-works-section {
	background-color: #ebebeb;
	text-align: center;
}
#how-it-works-section .stfw-div-middle {
	top: calc(50% - 5px);
}
#how-it-works-section img#how_it_work_img {
	width: 80%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 8px #000;
}
#how-it-works-section img#how_it_work_playbtn {
	width: 100px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: none !important;
	opacity: 0.8;
}
#how-it-works-section img#how_it_work_playbtn:hover {
	opacity: 1.0;
	cursor: pointer;
}
#how-it-works-section .stfw-div-middle h3 {
	text-align: left;
	color: #005178;
}
#how-it-works-section .stfw-div-middle p {
	font-weight: 500;
	text-align: left;
	padding-right: 10px;
	font-size: 20px !important;
}

/* What Included */
#what-included-section h2.jeep-section-title span {
    background-image: linear-gradient(to right, #fff 0%, #bd0202 30%, #bd0202 70%, #fff 100%);
}
#what-included-section {
	text-align: center;
}
#what-included-section .stfw-div-middle h3 {
	text-align: left;
	color: #005178;
}
#what-included-section img {
	width: 80%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 8px #000;
}


/* Bravery Tour */
#bravery-tour-section {
	background-color: #ebebeb;
	text-align: center;
	height: 800px;
}


/* About Us */
#jeep-about-us-section h2.jeep-section-title span {
    background-image: linear-gradient(to right, #fff 0%, #bd0202 30%, #bd0202 70%, #fff 100%);
}
#jeep-about-us-section {
	text-align: center;
	height: 800px;
}


/* FAQ */
#jeep-faq-section {
	background-color: #ebebeb;
	text-align: center;
	height: 800px;
}


