.header .navbar,
.header .header-top,
.header .header-nav,
#mobileHeader {
    display: none !important;
}



/* General */
.sam-temp-fw {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	padding: 0;
	background-color: #ffffff;
	letter-spacing: 1px !important;
}
.sam-temp-fw-black {
	background-color: #000000;
}
@media (max-width: 1000px) {
	.main__wrapper {
		padding-top: 30px
	}
}
/* END */


/* ALL */
#the-jeep-section,
#how-it-works-section,
#what-included-section,
#bravery-tour-section,
#bravery-tour-section-map,
#bravery-tour-section-updates,
#jeep-about-us-section,
#final-para-section {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 80px;
}
.stfw-col-left,
.stfw-col-right {
	min-height: 500px;
}
h2.jeep-section-title {
	font-size: 40px !important;
	text-align: center;
	margin-bottom: 30px;
	text-align: center;
}
h2.jeep-section-title span {
    /* background-image: linear-gradient(to right, #ebebeb 0%, #bd0202 30%, #bd0202 70%, #ebebeb 100%);
	padding: 2px 120px 7px 120px;
	font-weight: 500;
	letter-spacing: 4px;
	color: #fff; */

	font-weight: bold;
	color: #000;
    letter-spacing: 6px;
}
/* Headings */
@media (max-width: 1500px) {
	h2.jeep-section-title {font-size: 28px !important;}
}
@media (max-width: 1200px) {
	h2.jeep-section-title {font-size: 30px !important;}
	h2.jeep-section-title span {font-weight: 700;}
}
@media (max-width: 1000px) {
	h2.jeep-section-title {font-size: 34px !important;}
}
@media (max-width: 670px) {
	h2.jeep-section-title {font-size: 28px !important;}
}
@media (max-width: 500px) {
	h2.jeep-section-title {font-size: 24px !important;}
}
@media (max-width: 428px) {
	h2.jeep-section-title {font-size: 22px !important;}
}
@media (max-width: 390px) {
	h2.jeep-section-title {font-size: 18px !important;}
}
/* END */




/* HEADER SECTION */
#sam-temp-header-section {
	margin-top: -40px;
	padding: 15px 0;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	position: fixed;
	z-index: 100;
}
#sam-temp-header-section .container {
	position: relative;
}
#sam-temp-header-section img {
	width: 150px;
	height: auto;
}
#sam-temp-header-section .sam-temp-header-nav {
	text-align: right;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
#sam-temp-header-section h4 {
	display: inline;
	padding: 0 20px;
	position: relative;
}
#sam-temp-header-section h4 a {
	color: #ffffff;
}
#sam-temp-header-section h4.underline-effect a:after {
	content: '';
	position: absolute;
	left: 20px;
	display: inline-block;
	width: calc(100% - 40px);
	height: 30px;
	border-bottom: 1px solid;
	opacity: 0;
	-webkit-transition: all 0.3s, -webkit-transform 0.35s;
	transition: all 0.3s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
#sam-temp-header-section h4.enter-now a {
    /*     background-image: linear-gradient(to right, #000 0%, #bd0202 30%, #bd0202 70%, #000 100%); */
	padding: 10px 30px 12px 30px;
	font-weight: bold;
	transition: all 1s;
	background-color: #bd0202;
	/* border-radius: 20px; */
	color: #ffd700;
}
@media (min-width: 1201px) {
	#sam-temp-header-section h4.underline-effect a:hover:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	#sam-temp-header-section h4.enter-now a:hover {
		/* background-image: linear-gradient(to right, #000 0%, #ffd700 30%, #ffd700 70%, #000 100%); */
		background-color: #fff;
		color: #000;
		cursor: pointer;
	}
}
@media (max-width: 1500px) {
	#sam-temp-header-section h4 {
		padding: 0 15px;
	}
}
@media (max-width: 1400px) {
	#sam-temp-header-section h4 {
		padding: 0 12px;
	}
}
@media (max-width: 1000px) {
	#sam-temp-header-section img {
		margin-left: 25px;
	}
}


/* Mobile Menu */
.sam-temp-header-nav-mobile,
.header__nav_mobile {
	display: none;
}

@media (max-width: 1200px) {
	#sam-temp-header-section h4.underline-effect {
		display: none;
	}
	#sam-temp-header-section h4.enter-now {
		font-size: 24px !important;
	}
	.sam-temp-header-nav-mobile,
	.header__nav_mobile {
		display: block;
	}
	.sam-temp-header-nav-mobile {
		/* width: 30px;
		height: 30px;
		position: relative;
		z-index:2;
		overflow: hidden; */

		width: 100%;
		position: relative;
		z-index:99;
		top: -20px;
	}
	.sam-temp-header-nav-mobile .jeep__bar {
		width: 30px;
		height: 4px;
		position: absolute;
		top: 50%;
		left: calc(50% - 50px);
	  	border-radius: 4px;
		transform: translate(-50%, -50%);
		background-color: #ffffff;
		transition: all 0.3s ease-in-out;
	}
	.sam-temp-header-nav-mobile .jeep__bar:nth-of-type(2) {
		top: calc(50% - 9px);
	}
	.sam-temp-header-nav-mobile .jeep__bar:nth-of-type(3) {
		top: calc(50% + 9px);
	}
	.sam-temp-header-nav-mobile.active .jeep__bar:nth-of-type(1) {
	  display: none;
	}
	.sam-temp-header-nav-mobile.active .jeep__bar:nth-of-type(2) {
	  top: 50%;
	  transform: translate(-50%, 0%) rotate(45deg);  
	}
	.sam-temp-header-nav-mobile.active .jeep__bar:nth-of-type(3) {
	  top: 50%;
	  transform: translate(-50%, 0%) rotate(-45deg); 
	}
	.header__nav_mobile .jeep__nav {
		position: fixed;
		top: 72px;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 0;
	  	background: #fff;
/* 		transform: translateX(200%); */
		transition: transform 0.5s; 
		z-index: 98;
	    box-shadow: -2px 4px 12px -1px rgba(0,0,0,.50);
	}
	.header__nav_mobile .jeep__nav ul {
		margin: 0;
		padding: 0;
	}
	.header__nav_mobile .jeep__nav ul li {
		list-style-type: none;
		padding: 15px 30px;
		border-bottom: 1px solid #dcdcdc;
	}
	.header__nav_mobile .jeep__nav.active {
		transform: translateX(100%);
	}
	
	.header__nav_mobile .jeep__nav ul li a {
		color: #000000;
		font-size: 18px;
	}
	
	
}
@media (max-width: 600px) {
	#sam-temp-header-section h4 {
		display: none;
	}
	.sam-temp-header-nav-mobile {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		right: -10px;
	}
}



/* HERO SECTION */
#jeep-hero-section .container-fluid {
	padding: 0;
}
#jeep-hero-section .container-fluid img {
	width: 100%;
	height: auto;
}
#jeep-hero-section .jeep_form_div {
	position: absolute;
	width: 550px;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	background-color: #fff;
	box-shadow: 0px 2px 50px #bd0505;
	border-radius: 12px;
	
}
#jeep-hero-section .jeep_form_div h1 {
	text-align: center;
}



/* THE JEEP */
#the-jeep-section {
	padding-bottom: 50px;
}
#the-jeep-section .stfw-col-right {
	min-height: 650px;
}
#the-jeep-section .stfw-div-middle {
	left: -30px;
}
#the-jeep-section img {
	width: 100%;
	height: auto;
}
#the-jeep-section .stfw-col-left img {
	height: 650px;
	width: auto;
	margin-left: -50px;
}

	/* Slider Changes */
	.slider {padding: 10px 0 20px 0;}
	.slick-slide {margin-right: 10px;}
	.slick-dots {/* position: absolute; bottom: -3.5rem; */ display: block; padding: 0; margin: 0; list-style: none; line-height: 0;}
	.slick-dots li {position: relative; display: inline-block; width: 0.9375rem; height: 0.9375rem; margin: 0 0.875rem; padding: 0; cursor: pointer;}
	.slick-dots li:first-child {margin-left: 0;}
	.slick-dots li:last-child {margin-right: 0;}
	.slick-dots li button {font-size: 0; line-height: 0; display: block; width: 0.9375rem; height: 0.9375rem; padding: 0.3125rem; cursor: pointer; color: transparent; outline: none; border:none; background: rgba(47, 31, 22, 0.5); border-radius: 50%;}
	.slick-dots li button:hover,
	.slick-dots li button:focus,
	.slick-dots li.slick-active button {outline: none; background-color: #2d1d15; transition: all 300ms ease 0s; color: #2d1d15;}
	.slick-next:before, .slick-prev:before {color: #000 !important;}

	.slick-arrow {
		display: none;
	}
	.slick-next:before,
	.slick-prev:before{
		content: ''
	}
	/* */
	/* .slick-prev:before,
	.slick-next:before
	{
		font-family: 'slick';
		font-size: 20px;
		line-height: 1;

		opacity: .75;
		color: white;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@media (min-width: 992px) {
		.slick-prev:before
		{
			content: '\f053';
			font: 28px 'FontAwesome';
		}
		[dir='rtl'] .slick-prev:before
		{
			content: '\f054';
			font: 28px 'FontAwesome';
		}
		.slick-next:before
		{
			content: '\f054';
			font: 28px 'FontAwesome';
		}
		[dir='rtl'] .slick-next:before
		{
			content: '\f053';
			font: 28px 'FontAwesome';
		}
	}
	@media (max-width: 991px) {
		.slick-prev:before
		{
			content: '\f053';
			font: 25px 'FontAwesome';
		}
		[dir='rtl'] .slick-prev:before
		{
			content: '\f054';
			font: 25px 'FontAwesome';
		}
		.slick-next:before
		{
			content: '\f054';
			font: 25px 'FontAwesome';
		}
		[dir='rtl'] .slick-next:before
		{
			content: '\f053';
			font: 25px 'FontAwesome';
		}
	}
	.slick-arrow {
		width: 100%;
		text-align: right;
		padding-right: 20px;
	}
	.slick-prev,
	.slick-next{
		top: -30px;
	}
	.slick-next {
		right: -10px;
	}
	.right-text h2 {
		text-align: right !important;
		padding-right: 5px;
	}
	.right-text .slick-arrow {
		text-align: left;
		padding-left: 25px;
	} */

#the-jeep-section .image--slider--row h2 {
	text-align: left;
}
.stfw-div-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.stfw-div-middle ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 -50px;
}
.stfw-div-middle ul li {
	padding-bottom: 10px;
	font-size: 20px !important;
}
.stfw-div-middle ul .jeep_bullet {
	font-weight: 600;
	color: #005178;
	width: 120px;
	display: inline-block;
	text-align: right;
}
.stfw-div-middle ul .jeep_desc {
	display: inline-block;
	padding-left: 20px;
}
.stfw-div-middle ul li span {
	display: block;
}

#SamReturnToTop {
	display: none !important;
}

@media (max-width: 1200px) {
	#jeep-hero-section {
		padding-top: 30px;
	}
	#jeep-hero-section .hidden-xs-sm {
	    display: none;
	}
	#jeep-hero-section .visible-xs-sm {
	    display: block;
	}
}




/* How It Works */
#how-it-works-section {
	background-color: #ebebeb;
	text-align: center;
	padding-bottom: 70px;
}
#how-it-works-section .stfw-div-middle {
	top: calc(50% - 5px);
}
#how-it-works-section img#how_it_work_img {
	width: 80%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 8px #000;
}
#how-it-works-section img#how_it_work_playbtn {
	width: 100px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: none !important;
	opacity: 0.8;
}
#how-it-works-section img#how_it_work_playbtn:hover {
	opacity: 1.0;
	cursor: pointer;
}
#how-it-works-section .stfw-div-middle h3 {
	text-align: left;
	color: #005178;
}
#how-it-works-section .stfw-div-middle p {
	font-weight: 500;
	text-align: left;
	padding-right: 10px;
	font-size: 20px !important;
}

/* What Included */
#what-included-section {
	position: relative;
	padding-bottom: 50px;
}
#what-included-section img {
	margin-top: 20px;
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 8px #000;
}
#what-included-section #jeep-and-cash,
#what-included-section #jeep-bivy {
	position: absolute;
	padding: 0px 120px 5px 120px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	background-image: linear-gradient(to right, #fff 0%, #4CAF50 30%, #4CAF50 70%, #fff 100%);
}
#what-included-section #jeep-and-cash {
	top: 100px;
	left: 5%;
}
#what-included-section #jeep-bivy {
	bottom: 100px;
	right: 5%;
}





/* Bravery Tour */
#bravery-tour-section {
	background-color: #ebebeb;
	text-align: center;
}
#bravery-tour-section .stfw-col-left,
#bravery-tour-section .stfw-col-right {
	padding-top: 50px;
}
#bravery-tour-section h3 {
	text-align: left;
}
#bravery-tour-section p {
	padding: 0 160px;
	font-size: 20px !important;
}
#bravery-tour-section h4 {
	padding-top: 50px;
}
#bravery-tour-section h4 span {
	padding: 10px 30px 13px 30px;
	transition: all 0.3s;
	border: 1px solid #000;
	color: #ffffff;
	background-color: #000;
	font-weight: 700;
}
#bravery-tour-section ul {
	list-style-type: none;
	padding: 0;
	text-align: left;
}
#bravery-tour-section ul li {
	padding-bottom: 10px;
	font-size: 20px !important;
/* 	border: 1px solid blue; */
}
#bravery-tour-section ul li:before {
	content: '\2022  ';
	content: '\203A  ';
	content: '\25B8  ';
	content: '\2714  ';
	content: '\2714  ';
}
#bravery-tour-section ul li ul {
	padding-left: 50px;
}
#bravery-tour-section ul li ul li {
	padding-top: 10px;
}
#bravery-tour-section ul li ul li.sam-inline-li {
	display: inline;
	padding-right: 20px;
}
.bravery-tour-icon-section {
	background-color: #ebebeb;
	color: #ffffff;
	text-align: center;
}
.bravery-tour-icon-section .stfw-row {
	background-color: #000;
	margin-left: 10px;
}
.bravery-tour-icon-section img {
	width: 700px;
	height: auto;
}
.bravery-tour-icon-section .col-xs-6:first-child {
	border-right: 4px solid #4a4a4a;
}
#bravery-tour-section-map {
	background-color: #fff;
	padding-bottom: 30px;
}
#bravery-tour-section-map h3 {
	font-weight: 600;
	border-left: 4px solid #bd0202;
	padding-left: 20px;
	text-align: left;
	margin-top: 30px;
	line-height: 36px;
}

#bravery-tour-section-map .jeep-map-location-wrapper {
	min-height: 500px;
	padding-bottom: 10px;
}
#bravery-tour-section-map .jeep_tour_map {
	height: 500px;
	width: auto;
}
#bravery-tour-section-map h2 {
	padding-bottom: 20px;
}
#bravery-tour-section-map .jeep_location_list {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#bravery-tour-section-map .jeep_location_list ul {
	float: left;
	padding-right: 50px;
}
#bravery-tour-section-map .jeep_location_list ul li {
	font-size: 20px !important;
	font-weight: 500;
	padding-bottom: 8px;
}
#bravery-tour-section-map .jeep_location_list ul li span {
	color: #bd0202;
}
@media (max-width: 1600px) {
	#bravery-tour-section-map .jeep-map-location-wrapper {
		min-height: 450px;
	}
	#bravery-tour-section-map .jeep_tour_map {
		height: 450px;
	}
	#bravery-tour-section-map .jeep_location_list ul {
		padding-right: 20px;
	}
	#bravery-tour-section-map .jeep_location_list ul li {
		font-size: 18px !important;
	}
}
@media (max-width: 1400px) {
	#bravery-tour-section-map .jeep-map-location-wrapper {
		min-height: 400px;
	}
	#bravery-tour-section-map .jeep_tour_map {
		height: 400px;
	}
	#bravery-tour-section-map .jeep_location_list ul {
		padding-right: 20px;
	}
	#bravery-tour-section-map .jeep_location_list ul li {
		font-size: 16px !important;
		padding-bottom: 5px;
	}
}
.bravery-tour-section-black {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}
#bravery-tour-section-map img {
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 8px #000;
}
#bravery-tour-section-updates {
	background-color: #ebebeb;
	
}
#bravery-tour-section-updates img {
	width: 80%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 8px #000;
}
#bravery-tour-section-updates img.img_play {
	width: 60px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: none !important;
	opacity: 0.8;
}
#bravery-tour-section-updates img.img_play:hover {
	opacity: 1.0;
	cursor: pointer;
}
#bravery-tour-section-updates .stfw-col-left {
	min-height: 300px;
}
#bravery-tour-section-updates .stfw-col-left h3 {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -30px;
}
#bravery-tour-section-updates h3.jeep-more-updates {
	display: block;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 10px;
}
#bravery-tour-section-updates h3.jeep-more-updates a {
	padding: 10px 30px 13px 30px;
	transition: all 0.3s;
	border: 1px solid #000;
	color: #ffffff;
	background-color: #000;
}
#bravery-tour-section-updates h3.jeep-more-updates a:hover {
	background-color: #fff;
	color: #000;
}
div#storemapper #storemapper-left, 
div#storemapper #storemapper-right {
	height: 800px !important;
}



/* About Us */
#jeep-about-us-section {
	text-align: center;
}
#jeep-about-us-section .stfw-div-middle {
	top: calc(50% - 5px);
}
#jeep-about-us-section img#about_us_img {
	width: 80%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 8px #000;
}
#jeep-about-us-section img#about_us_playbtn {
	width: 100px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: none !important;
	opacity: 0.8;
}
#jeep-about-us-section img#about_us_playbtn:hover {
	opacity: 1.0;
	cursor: pointer;
}
#jeep-about-us-section .stfw-div-middle h3 {
	text-align: left;
	color: #005178;
}
#jeep-about-us-section .stfw-div-middle p {
	font-weight: 500;
	text-align: left;
	padding-right: 10px;
	font-size: 20px !important;
}


/* FAQ */
#jeep-faq-section {
	border-bottom: 1px solid #ebebeb;
}
#jeep-faq-section .container-fluid {
	padding: 0;
}
#jeep-faq-section .container-fluid img {
	width: 100%;
	height: auto;
}
#jeep-faq-section .faq-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000000;
	opacity: 0.65;
} 
#jeep-faq-section h2.jeep-section-title {
	margin-bottom: 20px;
}
#jeep-faq-section h2.jeep-section-title span {
	display: block;
	border: 1px solid #fff;
	padding: 10px 0;
	color:#fff;
}
#jeep-faq-section .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}
#jeep-faq-section .panel {
	border-radius: 0;
	opacity: 0.7;
	border: 2px solid #ffffff;
}


#jeep-faq-section .panel-title>a {
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none !important;
    background-color: #f1f1f1;
    display: block;
}
#jeep-faq-section .panel-default>.panel-heading+.panel-collapse>.panel-body {
	font-size: 16px;
}
#jeep-faq-section .panel-default >.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    transform: rotate(90deg);
	position: relative;
	top: 6px;
	font-size: 12px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	float: right;
	transition: transform .25s linear;
}
#jeep-faq-section .panel-default > .panel-heading a[aria-expanded="true"]:after {
	content: "\2212";
	transform: rotate(180deg);
}
#jeep-faq-section .panel-default >.panel-heading a:after {
	content: "";
	position: relative;
	top: 4px;
	font-size: 14px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	float: right;
	transition: transform .25s linear;
}

/* Final Paragraph */
#final-para-section {
	background-color: #000;
	color: #fff;
	border-bottom: 1px solid #ebebeb;
	padding-top: 20px;
	padding-bottom: 30px;
}
#final-para-section h3 {
	font-weight: 600;
	border-left: 4px solid #bd0202;
	padding-left: 20px;
	text-align: left;
	line-height: 36px;
}


/* Modal */
.modal-content {
	width: 600px;
	left: calc(50% - 300px);
	box-shadow: 2px 2px 8px #000;
	
}
.modal-body {
	padding: 0;
	margin: 0;
	width: 100%;
}
.modal-footer .btn {
	background-color: #000;
	color: #fff;
}
.modal-footer .btn:hover {
	background-color: #bd0202;
}