
<!--Seg:OpenLeftNav-->
<style type="text/css">
.sideNavHeaderBox1 {
background-color: #0575b8;
border: 0px solid #000;
margin-top: 5px;
padding: 0px;
box-shadow: 1px 2px 3px #DDD;
-moz-box-shadow:1px 2px 3px #DDD;
-webkit-box-shadow:1px 2px 3px #DDD;
-o-box-shadow:1px 2px 3px #DDD;
width:180px;
}

.sideNavHeaderText1 {
margin: 0px;
padding: 3px 5px;
font-weight: bold;
color: #FFF;
font-size: 11px;
width:180px;
}

.sideNavBoxContainer1 {
background: color: #FFF;
border: 0px solid #000;
padding: 1px 0px 5px 0px;
margin: 0 0 10px 0;
box-shadow: 1px 2px 3px #DDD;
-webkit-box-shadow: 1px 2px 3px #DDD;
text-align: left;
width:179px;
}

#sideNavHeaderBox1 {
background:none;
width: 188px;
}

.sideNavLinksBox1 ul li {
background: none;
list-style: none;
display: block;
margin: 0px;
padding: 0px;
text-align: left;
font-weight: normal;
font-color: #000;
font-size: 11px;
line-height: 1.7em;
}

#sideNavHeaderBox1 ul {
background:none;
}
a.black, a.black:visited, a.black:link {
	color: #000000;
	text-decoration:none;
	margin-left: 0px;
	font-size: 10px;
	font-weight: 900;
}

a.black:hover, a.black:active {
	color: #0000FF;
	text-decoration:none;
	margin-left: 0px;
	font-size: 10px;
	font-weight: 900;
}

a.blackb, a.blackb:visited, a.blackb:link {
	color: #000000;
	text-decoration:none;
	margin-left: 0px;
	font-size: 10px;
	font-weight: 200;
}

a.blackb:hover, a.blackb:active {
	color: #0000FF;
	text-decoration:none;
	margin-left: 0px;
	font-size: 10px;
	font-weight: 200;
}

a.hilite, a.hilite:visited, a.hilite:link {
	color: #000000;
	text-decoration:none;
	margin-left: 0px;
	font-size: 8px;
	font-weight: 200;
        background-color: #FFFF00;
}

</style>


	<div class="sideNavHeaderBox1">
		<div class="sideNavHeaderText1">
				Categories
		</div>
	</div>
	<div class="sideNavBoxContainer1">
		<div class="sideNavLinksBox1">
		<b>
		<ul>
<!--End:OpenLeftNav-->

<!--Seg:CloseLeftNav-->
</ul>
		</b>
		</div>
	</div>
	

	


<!--End:CloseLeftNav-->
