<!--Seg:Open-->
<form name="f" method="POST" action="/support-request" onsubmit="showWait()" novalidate>  
  <input type="hidden" name="SIRFNO" value="">
  <input type="hidden" name="SIVIEW" value="@&SIVIEW ">
  <input type="hidden" name="SIMODE" value="@&SIMODE ">
  <input type="hidden" name="SIACTN" value="SUBMIT">
  <main class="contact-us">
  <div class="container" style="background:#f6f6f6;padding:0;">
    
<!--End:Open-->       

<!--Seg:Main-->
</div> 
<div class="container">    
      <div class="row row-eq-height">
        <div class="col-sm-6 left">
          <div class="left__top">
            <h4>Call us toll-free</h4>
            <p>Your questions and comments are important to us. Check out our FAQs, live chat with us, call us toll-free, or email for the information you need. Our support team is available to answer questions from 8am-8pm EST Monday through Friday.</p>

            <br>
            <h4>individuals</h4>
            <p><a href="tel:+18337999800">1.833.799.9800</a></p>

          </div>
          <!-- <div class="left__middle">
            <div>
              <h6>individuals</h6>
              <p><a href="tel:+18337999800">1.833.799.9800</a></p>
            </div>
          </div> -->
        </div>
        <div class="col-sm-6 right">
          <h4>Send us an Email</h4>
          <form class="contact-us__form form-horizontal">
            <div class="form-group">
              <div class="col-md-12">
                <label for="name">Full Name*</label>
                <input type="text" name="SIFNAM" value="@&SIFNAM " id="SIFNAM" class="form__input no-outline full" required />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label for="email">Email*</label>
                <input type="email" name="SIEMAL" value="@&SIEMAL " id="SIEMAL" class="form__input no-outline full" required />
              </div>
              <div class="col-md-6">
                <label for="fax">Fax Number</label>
                <input type="tel" name="SIFAX" value="@&SIFAX " id="SIFAX" class="form__input no-outline full" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <p class="break">If you have a general product question, please include an item number and description when possible.</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="item-number">Item Number</label>
                <input type="text" name="SIITEM" value="@&SIITEM " id="SIITEM" class="form__input no-outline full">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="product-description">Product Description</label>
                <input type="text" name="SIPDSC" value="@&SIPDSC " id="SIPDSC" class="form__input no-outline full">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="your-question">Your Question*</label>
                <textarea class="form__textarea no-outline full" name="SILDSC" id="SILDSC" maxlength="1000" rows="3" required>@&SILDSC </textarea>
              </div>
            </div>
            <div class="form-group form-group__cta">
              <div class="col-md-3 col-md-push-9 form-group__cta--btn">
                <br>
                <button type="submit" class="btn btn_submit btn_sm btn--blue">Submit</button>
              </div>
              <div class="col-md-9 col-sm-pull-3 form-group__cta--text">
                <p>To ensure delivery of customer support email responses from us to your inbox (not bulk, spam or junk folders), please be sure to add <a href="mailto:customercare@uspatriot.com">customercare@uspatriot.com</a> to your address book or approved senders list.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  </form> 
<!--End:Main-->

<!--Seg:MainNew-->
</div> 
<div class="container">    
      <div class="row row-eq-height">
        <div class="col-sm-6 left">
          <div class="left__top">
            <h4>Call us toll-free</h4>
            <p>Your questions and comments are important to us. Check out our FAQs, live chat with us, call us toll-free, or email for the information you need. Our support team is available to answer questions from 8am-8pm EST Monday through Friday.</p>

            <br>
            <h4>individuals</h4>
            <p><a href="tel:+18337999800">1.833.799.9800</a></p>

          </div>
          <!-- <div class="left__middle">
            <div>
              <h6>individuals</h6>
              <p><a href="tel:+18337999800">1.833.799.9800</a></p>
            </div>
          </div> -->
          
        </div>
        <div class="col-sm-6 right">
          <h4>Send us an Email</h4>
          <form class="contact-us__form form-horizontal">
            <div class="form-group">
              <div class="col-md-12">
                <label for="name">Full Name*</label>
                <input type="text" name="SIFNAM" value="@&SIFNAM " id="SIFNAM" class="form__input no-outline full" required />
              </div>
            </div>
			<div class="form-group">
				<div class="col-md-12">
                <label for="company">Agency/Company Name (if applicable)</label>
                <input type="text" name="SICNAM" value="@&SICNAM " id="SICNAM" class="form__input no-outline full" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label for="email">Email*</label>
                <input type="email" name="SIEMAL" value="@&SIEMAL " id="SIEMAL" class="form__input no-outline full" required />
              </div>
              <div class="col-md-6">
                <label for="phone">Phone Number</label>
                <input type="tel" name="SIPHON" value="@&SIPHON " id="SIPHON" class="form__input no-outline full" />
              </div>
            </div>
			<div class="form-group">
				<div class="col-md-12">
                <label for="inquiry">Inquiry Reason*</label>
                @&SIINQR <!--end-->
              </div>
            </div>
<!--End:MainNew-->

<!--Seg:MainBot-->
            <div class="form-group form-group__cta">
              <div class="col-md-3 col-md-push-9 form-group__cta--btn">
                <br>
                <button type="submit" class="btn btn_submit btn_sm btn--blue">Submit</button>
              </div>
              <div class="col-md-9 col-sm-pull-3 form-group__cta--text">
                <p>To ensure delivery of customer support email responses from us to your inbox (not bulk, spam or junk folders), please be sure to add <a href="mailto:customercare@uspatriot.com">customercare@uspatriot.com</a> to your address book or approved senders list.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  </form> 
<!--End:MainBot-->

<!--Seg:BODYordstat-->
			<div class="form-group">
				<div class="col-md-12">
                <label for="order">Order Number</label>
                <input type="text" name="SIOHNO" value="@&SIOHNO " id="SIOHNO" class="form__input no-outline full" />
              </div>
            </div>
<!--End:BODYordstat-->

<!--Seg:BODYrtnstat-->
			<div class="form-group">
              <div class="col-md-12">
                <label for="order">Order Number*</label>
                <input type="text" name="SIOHNO" value="@&SIOHNO " id="SIOHNO" class="form__input no-outline full" required />
              </div>
			</div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="order">Order Date</label>
                <input type="text" name="SIDATE" value="@&SIDATE " id="SIDATE" class="form__input no-outline full"  />
              </div>
			</div>
            
<!--End:BODYrtnstat-->

<!--Seg:BODYcancel-->
			<div class="form-group">
				<div class="col-md-12">
                <label for="order">Order Number*</label>
                <input type="text" name="SIOHNO" value="@&SIOHNO " id="SIOHNO" class="form__input no-outline full" required />
              </div>
            </div>
			
			<div class="form-group">
              <div class="col-md-12 form-group__cta--text">
                <p>The Order Number can be located on your emailed confirmation.</p>
              </div>
            </div>
			
			<div class="form-group">
				<div class="col-md-12">
                <label for="order">Reason for Cancellation*</label>
                @&SIRESN <!--end-->
              </div>
            </div>
<!--End:BODYcancel-->

<!--Seg:BODYupdchg-->
			<div class="form-group">
				<div class="col-md-12">
                <label for="order">Order Number*</label>
                <input type="text" name="SIOHNO" value="@&SIOHNO " id="SIOHNO" class="form__input no-outline full" required />
              </div>
            </div>
			
			<div class="form-group">
              <div class="col-md-12 form-group__cta--text">
                <p>The Order Number can be located on your emailed confirmation.</p>
              </div>
            </div>
			
			<div class="form-group">
				<div class="col-md-12">
                <label for="request">Requested Change*</label>
                <textarea class="form__textarea no-outline full" name="SIRQST" id="SIRQST" maxlength="1000" rows="3" required>@&SIRQST </textarea>
              </div>
            </div>
<!--End:BODYupdchg-->

<!--Seg:BODYprodqst-->
			<div class="form-group">
				<div class="col-md-12">
                <label for="item">Item Number</label>
                <input type="text" name="SIITEM" value="@&SIITEM " id="SIITEM" class="form__input no-outline full"  />
              </div>
            </div>		
			<div class="form-group">
				<div class="col-md-12">
                <label for="description">Product Description</label>
                <input type="text" name="SIDESC" value="@&SIDESC " id="SIDESC" class="form__input no-outline full" />
              </div>
            </div>
			<div class="form-group">
				<div class="col-md-12">
                <label for="question">Question*</label>
                <textarea class="form__textarea no-outline full" name="SIQEST" id="SIQEST" maxlength="1000" rows="3" required>@&SIQEST </textarea>
              </div>
            </div>
<!--End:BODYprodqst-->

<!--Seg:BODYinvrqst-->
			<div class="form-group">
              <div class="col-md-6">
                <label for="order">Order Number</label>
                <input type="text" name="SIOHNO" value="@&SIOHNO " id="SIOHNO" class="form__input no-outline full" />
              </div>
              <div class="col-md-6">
                <label for="purchase">Purchase Order Number</label>
                <input type="text" name="SIPONO" value="@&SIPONO " id="SIPONO" class="form__input no-outline full" />
              </div>
            </div>
			<div class="form-group">
              <div class="col-md-12 form-group__cta--text">
                <p>Order Number and/or Purchase Order Number must be provided.</p>
              </div>
            </div>
			<div class="form-group">
				<div class="col-md-12">
                <label for="amount">Dollar Amount</label>
                <input type="text" name="SIDAMT" value="@&SIDAMT " id="SIDAMT" class="form__input no-outline full" />
              </div>
            </div>
			<div class="form-group">
				<div class="col-md-12">
                <label for="date">Purchase or Charge Date</label> (MM/DD/YYYY)
                <input type="text" name="SIDATE" value="@&SIDATE " id="SIDATE" class="form__input no-outline full" />
              </div>
            </div>
<!--End:BODYinvrqst-->

<!--Seg:BODYcatalog-->
			<div class="form-group">
              <div class="col-md-12 form-group__cta--text">
                <p><b>If you would like to request a catalog, please visit <a href="/catalog-request">Catalog Request</a>.</b></p>
              </div>
            </div>
			<div class="form-group">
              <div class="col-md-12 form-group__cta--text">
                <p><b>If you are looking to be removed from our mailing list, please submit the request under the Catalog/Email List Removal in the drop-down above.</b></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  </form>
<!--End:BODYcatalog-->

<!--Seg:BODYemalrmv-->
			<div class="form-group">
              <div class="col-md-12">
                <label for="account">Account Number - can be located on catalog</label>
                <input type="text" name="SIACNO" value="@&SIACNO " id="SIACNO" class="form__input no-outline full" />
              </div>
            </div>
			<div class="form-group">
				<div class="col-md-12">
                <label for="address">Mailing Address/City/State*</label>
                <input type="text" name="SIADDR" value="@&SIADDR " id="SIADDR" class="form__input no-outline full" required />
              </div>
            </div>
			<div class="form-group">
				<div class="col-md-12">
                <label for="date">Zip Code*</label>
                <input type="text" name="SIZIP" value="@&SIZIP " id="SIZIP" class="form__input no-outline full" required />
              </div>
            </div>
<!--End:BODYemalrmv-->

<!--Seg:BODYgeninq-->
			<div class="form-group">
              <div class="col-md-12">
                <label for="comment">Question or Comment*</label>
                <textarea class="form__textarea no-outline full" name="SICOMM" id="SICOMM" maxlength="1000" rows="3" required>@&SICOMM </textarea>
              </div>
            </div>
<!--End:BODYgeninq-->

<!--Seg:Submited-->
</div> 
    <div class="container">
	     <h3>Thanks for your request!</h3>
	     <p>Interested in receiving timely news, promotions and other valuable information in your inbox? <a href="/cgi/sign-in?PARTPG=CGBCLMOH">Sign up</a> to receive as much or as little of this information as you'd like in our <a href="/cgi/sign-in?PARTPG=CGBCLMOH">email preference center.</a></p>
    </div>
</main>
<!--End:Submited--> 