
.sam-static button:not(.no-inherit),
.sam-static .button,
.sam-static .anchor-button,
.sam-static .buttonstyle,
.sam-static input[type=button] {
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    border-radius: .1875rem;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;
    margin: 20px 0;
}

.sam-static button:not(.no-inherit):hover,
.sam-static .button:hover,
.sam-static .anchor-button:hover,
.sam-static .buttonstyle:hover,
.sam-static input[type=button]:hover {
    background-color: #404040;
    border-color: #404040;
    color: #fff;
    text-decoration: none
}

.sam-static button:not(.no-inherit).button-primary,
.sam-static button:not(.no-inherit).button-secondary,
.sam-static .button.button-primary,
.sam-static .button.button-secondary,
.sam-static .anchor-button.button-primary,
.sam-static .anchor-button.button-secondary,
.sam-static .buttonstyle.button-primary,
.sam-static .buttonstyle.button-secondary,
.sam-static input[type=button].button-primary,
.sam-static input[type=button].button-secondary {
    min-width: 10.9375rem
}

.sam-static button:not(.no-inherit).simple,
.sam-static .store-tile.selected .select-store-button:not(.no-inherit),
.sam-static button:not(.no-inherit).button-secondary,
.sam-static .button.simple,
.sam-static .button.button-secondary,
.sam-static .anchor-button.simple,
.sam-static .anchor-button.button-secondary,
.sam-static .buttonstyle.simple,
.sam-static .buttonstyle.button-secondary,
.sam-static input[type=button].simple,
.sam-static input[type=button].button-secondary {
    background-color: #fff;
    border-color: #c4c4c4;
    color: #0c0c0c
}

.sam-static button:not(.no-inherit).simple:hover,
.sam-static .store-tile.selected .select-store-button:not(.no-inherit):hover,
.sam-static button:not(.no-inherit).button-secondary:hover,
.sam-static .button.simple:hover,.button.button-secondary:hover,
.sam-static .anchor-button.simple:hover,
.sam-static .anchor-button.button-secondary:hover,
.sam-static .buttonstyle.simple:hover,
.sam-static .buttonstyle.button-secondary:hover,
.sam-static input[type=button].simple:hover,
.sam-static input[type=button].button-secondary:hover {
    color: #757575;
    background-color: #fff
}

.sam-static button:not(.no-inherit).simple.active,
.sam-static .store-tile.selected .select-store-button:not(.no-inherit).active,
.sam-static button:not(.no-inherit).simple:active,
.sam-static .store-tile.selected .select-store-button:not(.no-inherit):active,
.sam-static button:not(.no-inherit).button-secondary.active,
.sam-static button:not(.no-inherit).button-secondary:active,
.sam-static .button.simple.active,
.sam-static .button.simple:active,
.sam-static .button.button-secondary.active,
.sam-static .button.button-secondary:active,
.sam-static .anchor-button.simple.active,
.sam-static .anchor-button.simple:active,
.sam-static .anchor-button.button-secondary.active,
.sam-static .anchor-button.button-secondary:active,
.sam-static .buttonstyle.simple.active,
.sam-static .buttonstyle.simple:active,
.sam-static .buttonstyle.button-secondary.active,
.sam-static .buttonstyle.button-secondary:active,
.sam-static input[type=button].simple.active,
.sam-static input[type=button].simple:active,
.sam-static input[type=button].button-secondary.active,
.sam-static input[type=button].button-secondary:active {
    color: #404040;
    box-shadow: inset 0 0 .25rem 0 #404040
}

.sam-static button:not(.no-inherit).simple:focus,
.sam-static .store-tile.selected .select-store-button:not(.no-inherit):focus,
.sam-static button:not(.no-inherit).button-secondary:focus,
.sam-static .button.simple:focus,
.sam-static .button.button-secondary:focus,
.sam-static .anchor-button.simple:focus,
.sam-static .anchor-button.button-secondary:focus,
.sam-static .buttonstyle.simple:focus,
.sam-static .buttonstyle.button-secondary:focus,
.sam-static input[type=button].simple:focus,
.sam-static input[type=button].button-secondary:focus {
    color: #757575;
    box-shadow: inset 0 0 0 1px rgba(19,19,20,.4)
}

.sam-static button:not(.no-inherit).simple[disabled],
.sam-static .store-tile.selected .select-store-button:not(.no-inherit)[disabled],
.sam-static button:not(.no-inherit).simple.disabled,
.sam-static .store-tile.selected .select-store-button:not(.no-inherit).disabled,
.sam-static button:not(.no-inherit).button-secondary[disabled],
.sam-static button:not(.no-inherit).button-secondary.disabled,
.sam-static .button.simple[disabled],
.sam-static .button.simple.disabled,
.sam-static .button.button-secondary[disabled],
.sam-static .button.button-secondary.disabled,
.sam-static .anchor-button.simple[disabled],
.sam-static .anchor-button.simple.disabled,
.sam-static .anchor-button.button-secondary[disabled],
.sam-static .anchor-button.button-secondary.disabled,
.sam-static .buttonstyle.simple[disabled],
.sam-static .buttonstyle.simple.disabled,
.sam-static .buttonstyle.button-secondary[disabled],
.sam-static .buttonstyle.button-secondary.disabled,
.sam-static input[type=button].simple[disabled],
.sam-static input[type=button].simple.disabled,
.sam-static input[type=button].button-secondary[disabled],
.sam-static input[type=button].button-secondary.disabled {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    color: #757575;
    cursor: not-allowed
}

.sam-static button:not(.no-inherit).full-width,
.sam-static .button.full-width,
.sam-static .anchor-button.full-width,
.sam-static .buttonstyle.full-width,
.sam-static input[type=button].full-width {
    width: 100%
}

.sam-static button:not(.no-inherit).active,
.sam-static button:not(.no-inherit):active,
.sam-static .button.active,.button:active,
.sam-static .anchor-button.active,
.sam-static .anchor-button:active,
.sam-static .buttonstyle.active,
.sam-static .buttonstyle:active,
.sam-static input[type=button].active,
.sam-static input[type=button]:active {
    background-color: #6d6d6d;
    border-color: #6d6d6d;
    color: #fff
}

.sam-static button:not(.no-inherit):focus,
.sam-static .button:focus,
.sam-static .anchor-button:focus,
.sam-static .buttonstyle:focus,
.sam-static input[type=button]:focus {
    background-color: #c4c4c4;
    border-color: #c4c4c4;
    box-shadow: inset 0 0 0 1px rgba(19,19,20,.4);
    outline: none
}

.sam-static button:not(.no-inherit)[disabled],
.sam-static button:not(.no-inherit).disabled,
.sam-static .button[disabled],
.sam-static .button.disabled,
.sam-static .anchor-button[disabled],
.sam-static .anchor-button.disabled,
.sam-static .buttonstyle[disabled],
.sam-static .buttonstyle.disabled,
.sam-static input[type=button][disabled],
.sam-static input[type=button].disabled {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    color: #757575;
    cursor: not-allowed
}

.sam-static button:not(.no-inherit) a,
.sam-static .button a,
.sam-static .anchor-button a,
.sam-static .buttonstyle a,
.sam-static input[type=button] a {
    color: #fff
}

.sam-static button:not(.no-inherit) i.left,
.sam-static .button i.left,
.sam-static .anchor-button i.left,
.sam-static .buttonstyle i.left,
.sam-static input[type=button] i.left {
    margin-right: .6em
}

.sam-static button:not(.no-inherit) i.right,
.sam-static .button i.right,
.sam-static .anchor-button i.right,
.sam-static .buttonstyle i.right,
.sam-static input[type=button] i.right {
    margin-left: .6em
}

@media(prefers-reduced-motion) {
    .sam-static button:not(.no-inherit),
    .sam-static .button,
    .sam-static .anchor-button,
    .sam-static .buttonstyle,input[type=button],a {
        transition: none
    }
}

.sam-static .button-text {
    background-color: transparent;
    border-width: 0;
    font-size: .625rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
    color: #0c0c0c;
    padding: 0
}

.sam-static .button-text:hover {
    color: #757575;
    background-color: transparent;
    text-decoration: underline
}

.sam-static .button-full-width {
    text-align: center;
    width: 100%
}
